# inspired by https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/examples/values-minikube-minimum.yaml?ref_type=heads
global:
  hosts:
    domain: localhost
    https: true
    externalIP: 127.0.0.1

  ingress:
    enabled: true
    class: nginx
    configureCertmanager: false
    tls:
      enabled: true

  rails:
    bootsnap:
      enabled: false

installCertmanager: false

nginx-ingress:
  enabled: false
  
prometheus:
  install: false

gitlab-runner:
  install: false

gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1

registry:
  enabled: false